
.header__file::before {
    background-image:url('../res/images/header_icons/file_icon.png');
    background-repeat: no-repeat;
    background-size:contain;
     
    content: "";
    height: 2.4vmax; 
    margin-left: -3vmax;
    position: absolute;
    width: 2.4vmax;
  
}


.header__file--opened {

   
    font-size: 1vmax;
    margin-bottom: 2vh;
    padding-top: 0.25vh;
  }
  
.header__file--closed {
   
    font-size: 0 !important; 
    opacity: 0;
    padding-bottom: 0 !important;
    padding-top: 0;
  }