
 

.header__button
{
 
 
  color: var(--light-main);
  display: block;
  font-size: 1.7vmax;
  padding-bottom: 2vh;
  padding-left: 40px; 
  text-decoration: none;
  text-transform:capitalize;
  transition: 0.45s;
  padding-right:0.1vw;
  text-align: left;

  cursor: pointer;

}

.header__button:hover
{  
  color: var(--strong-main);
 
}


.header__button::before {
    content: ""; 
    height: 15px; 
    margin-left: -30px;
    position: absolute; 
    width: 25px;
    background-repeat: no-repeat;
    background-size:cover;
     
    background-image:url('../res/images/header_icons/icons.png') !important;  
}


.header__button--folder::before { 
    background-position-y: -38px !important;
  }


.header__button--profile::before { 
     background-position-y: -57px !important;
  }
  
.header__button--contacts::before { 
    background-position-y: 0 !important;
  }
  
    
.header__button--cv::before {
  background-position-y: 0 !important;
}

/*.header__button--folder::before {
    background-image:url('../res/images/header_icons/folder_icon.png') !important;  
 
     
  }


.header__button--profile::before {
    background-image:url('../res/images/header_icons/profile_icon.png') !important;
 
     
  }
  
.header__button--contacts::before {
    
    background-image:url('../res/images/header_icons/contact_icon.png') !important; 
 
    
  }
  
    
.header__button--cv::before {
    
  background-image:url('../res/images/header_icons/contact_icon.png') !important; 
   
  
}*/