
.header__file::before {
     
  
  background-position-y: -15px;
}


.header__file--opened {

   
    font-size: 1.45vmax;
    margin-bottom: 2vh;
    padding-top: 0.25vh;
  }
  
.header__file--closed {
   
    display: none;
  }


  
@media (max-width: 1000px) {

  .header__file--opened {

    font-size: 1.6vmax;
  }

}