


.system-configurations__language-switch {

 
    background-color: rgb(41, 36, 36);
    border: 2px solid #00000088;
    color: var(--code);
    font-size: 4vmin;
    height: 40vh;
    left: 20%;
    position: absolute;
    top: 25%;
    transition: 4s;
    width: 60vw;
}


.system-configurations__language-switch--hidden {
 
    left:150%;
    overflow: hidden !important; 
}
 