


.profile__key {

    color: var(--code);
    display: block;
    font-size: 5vmax;
    margin-bottom: 2.5%;
    margin-left: 15%; 
    padding: 1%;
  }
  


  


.profile__key--opened {
    font-size: 5vmin;
    margin-left: 5%;  
  }
  
.profile__key--closed {

    border: 0;
    font-size: 0; 
    height: 0;
    width: 0;
  }
  

     