
.profile {
 
    background-color: var(--classy-black);
    border-radius: 3%;
    border: 8px solid #214637;
    height: fit-content;
    margin-bottom: 15vh;
    margin: auto;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow:clip;
    white-space: nowrap; 
    width: 85%;
  }


.profile--pretty {
 
    background-color: rgb(25, 54, 49);
    height: 60vh;
    padding-top: 5vh;
  }

 
@media screen and (max-width: 768px) {


  .profile--pretty { 
    width: fit-content;
  }

  
}

 


 


