.profile__element {
    
   
    border-left: 0;
    border-right: 0;
    border-top: 0;
    color: var(--code);
    font-size: 3vmin;
    margin: auto;
    padding-left: 0; 
    user-select: none;
  }
  

  
  
.profile__element--hidden-from-raw {
    font-size: 0;
    margin: 0;
    padding: 0;
  }


.profile__element--raw-value {

}



 