
.projects__selection
{
 
  align-items: flex-start;
  display: flex;
  margin-left: 2vw;
  overflow-x: scroll; 
  overflow-y: hidden;
  padding: 0;
  scroll-behavior: smooth;
  text-align: center;
  width: calc(var(--project-width) * 5.5);
 
} 


