 
.projects__project
{  
 
  display: row;
  grid-template-areas: "index" "image" "language";
  grid-template-columns: 10% 50% 40%;
  height: fit-content;
  margin-bottom: 1vh;
  margin-right: 1vw;
  width: var(--project-width );
 
}

.projects__project:hover .projects__project-index, 
.projects__project:hover .projects__project-info
{
 font-size: 0;
}



.projects__project--selected .projects__project-image {
  animation:  bright-switch 3.4s;
  
}


@keyframes bright-switch
{
  50%
  {
    filter: brightness(100%);
  }

  100%
  {
    filter: brightness(50%);
  }
}

