
.projects__project-image
{
 
  
  border-radius: 1em; 
  filter: brightness(50%);
  grid-area: image;
  height: var(--project-width);
  margin-top: 0;
  padding-top: 0;
  width: var(--project-width);

}  


.projects__project-image:hover {
    filter: brightness(100%);
}

