 
.projects__project-info {
 
    color: var(--light-main);
    font-size: 3vmin; 
    grid-area: language;
    overflow-wrap: break-word;
    text-transform: capitalize;
    user-select: none;
  }
  
   