
.projects__project-image
{
 
  
  border-radius: 1em; 
  filter: brightness(50%);
  width: 200px; 
  height: 200px;
  margin-top: 0;
  padding-top: 0;

}  




@media screen and (max-width: 768px) {
   .projects__project-image {
    filter: none;
  }
}

.projects__project-image:hover {
    filter: brightness(100%);
}
