

.projects__project-github {
    
    position: relative;
    top:0;
    left:0;
    width:100vw;
    height:10vh;
}



.projects__project-github::after {
    content: "";

    background-image: url("../res/images/github_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 10vw;
    height: 10vh;

}