 
.projects__project
{  
  
 
  height: fit-content;
  margin-bottom: 1vh;
  margin-right: 1vw; 

 
 
}
 
.projects__project:hover .projects__project-index, 
.projects__project:hover .projects__project-info
{
 font-size: 0;
} 

 
 
/*
.projects__project-open-video { 
  z-index: 2;
  top: calc(var(--project-width)*0.8);
  position: relative;
}

.projects__projectiframe {
  position: absolute;
  
  width: var(--project-width );
  
  height: var(--project-width );
  z-index: 2;
}
*/

.projects__project--selected .projects__project-image {
  animation:  bright-switch 3.4s;
  
}


@keyframes bright-switch
{
  50%
  {
    filter: brightness(100%);
  }

  100%
  {
    filter: brightness(50%);
  }
}

 