


.introduction__name {
    color: var(--main);
    font-family: 'Quicksand';
    font-size: 14vmin;
    margin: auto;
    padding-bottom: 2%;
    text-align: center;
    user-select: none;
    width: 100%;
  }

  