
.section__title {
    width: 100%;     
   }
    
   
   .section__title 
   {
   
     color: var(--main);
     font-family: var(--title-font);
     font-size: 6vmin;
     margin-bottom: 6vh;
     margin: auto;
     font-weight: bold;
     text-align: center;
   }
    
   
   .section__title::after {
     content: ">";
   }
   
   
   .section__title::before {
     content: "<";
   }
   