
.profile__column {
 
 
    height: 20%;
    margin-top: 1%;
    width: 100%;
    display: block;
}

.profile__column--pretty {
    display: table-row;
}

@media screen and (max-width: 768px) {

    .profile__column {      
 
        
        display: block;
        height: fit-content;
        margin: auto; 
        text-align: center;
        width: 100%;
    }
  
}