


.contacts__form-box
{ 
 
   
    padding-bottom: 2vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
  background-color: #333131;
  left: 30vw;
  position: relative;
  text-align: center;
  width: fit-content;
  
 
}

