.contacts__input {
   
  
    -webkit-text-stroke-color: var(--main);
    -webkit-text-stroke-width: 0.02px;
    background-color: var(--darky);
    caret-color: var(--main);
    color: var(--classy-black);
    display: block; 
    font-family: var(--default-font);
    font-size: 4vmin;
    font-weight: bold;
    height: 6vh;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    width: 40vw;
   }
  

.contacts__input::grammar-error  {
    text-decoration: none;
  
}
  