
.system-configurations__input {
 
 
    background-color: var(--classy-black);
    border-left: 0;
    border-right: 0;
    border: 1px solid rgb(165, 163, 163);
    color: var(--pretty-green);
    display: block;
    font-size: 3vmax;
    position: relative;   
    cursor: pointer;
}


.system-configurations__input:hover {

    border-left: 0;
    border-right: 0;
    border: 1px solid rgb(92, 91, 91);
}


.system-configurations__input--closed {
    animation: close-input 4s forwards;
    
}


@keyframes close-input {
    
    
    100% {
        margin-left: -150vw; 
    
    }
}



