

.system-configurations__confirm-button { 

    left: 35vw;
    margin: 0;
    position: absolute !important;
    top: 80vh;
    width: 30vw; 
}   


@media screen and (max-width: 768px) {

    .system-configurations__confirm-button {
        height: 10vh;
        left: 5vw;
        width: 90vw;
    }
}