

.system-configurations__select {

    background-color: rgb(36, 35, 35);
    margin-left: 30vw;
    margin-top: 1%;
    text-align: center;
    width: 40vw;
}

@media screen and (max-width: 768px) {

    .system-configurations__select {
        margin-left: 20vw;
        width: 60vw;
    }
}