 

.loading__binary {


    position: fixed;  
    z-index: 35; 

    writing-mode: vertical-lr;
    text-orientation: upright;
    color: var(--code);

 
    user-select: none;
    cursor: none; 
    font-size: 5vh;
}

.loading__binary--animated {

    /* Animation duration controlled by ModeView for random speeds */
    animation: binary-dance 1s forwards;

}
 
@keyframes binary-dance {

   
    15% {
        opacity: 1;
    }
    100% {
        
        opacity: 0;
        /*top: -160%;*/
        transform: translateY(-185%);
    }
}

  
 