.screen-cover {


    pointer-events: none;
    user-select: none;
    z-index: 1;
  height: 100vh;
  position: fixed;
  width: 100vw;
}

.screen-cover--unfocus {

  background-color: var(--black-glass);
}


.screen-cover--loading {

  z-index: 30 !important;
  user-select:all;
  background-color: var(--classy-black);
  transition: 0s;

}

.screen-cover--loaded {

  transition: 1.5s;
  background-color: rgba(12, 73, 45, 0.884);
  animation: load 3.5s 1s forwards;

}

@keyframes load {
  

   100% {
     background-color: #70707000;
   }

}



.loading__title {
  z-index: 31;
  color: var(--main);
  background-color: var(--blacky);
  position: fixed;
  font-size: 5vmax;
  width: 60%;
  height: 60%;
  left: 20%;
  top: 20%;
}

.loading__title--loaded {
  left: -200vh;
  transition: 3s;
}