.screen-cover {


    pointer-events: none;
    user-select: none;
    z-index: 1;
  height: 100vh;
  position: fixed;
  width: 100vw;
}

.screen-cover--unfocus {

  background-color: var(--black-glass);
}


.screen-cover--loading {

  z-index: 30 !important;

   

  background-color: #000000;
   animation: loading-screen-cover 6s forwards;
}
 
.screen-cover--loaded {
  background-color: #000000;
  animation: load 2s forwards;
 

}

@keyframes load {
  

   100% {
     background-color: #70707000;
      
   }

}



 