
 

@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* TODO: Review variables, if they are being used, if they could have better names */
:root {

  --strong-main: #00ff22;
  --main: #5eff73; 
  --light-main:#9af3a6;


  --dark: #172018;
  --classy-black: rgb(36, 36, 24);
  --darky: #525252;
  --black-glass: rgba(24, 23, 23, 0.473);
  --light-darky: #28442c; 

  --light-secundary: #FFA62B;

 
  
  --background: linear-gradient(#0e6b44,#236b4d, #256b4e);
  --section-color:var(--background);
  

 --code: #00ff22;
 --pretty-green: rgb(154, 218, 90);

  
  --project-width:  14vw;
  --header-width: 3vw;

  --title-font:  "Quicksand";
  --default-font: 'Quicksand';
 
}

/* Smooth elements transition! */
* {
  transition: 2s;
}


html {
  overflow-x: hidden;
}
 
body {

  
  background: var(--background);
  box-shadow:  inset 12px 0px  14px -4px var(--light-darky), inset -12px 0px  15px -4px var(--light-darky);
  overflow-x: hidden;
}

 


.container {
  display: flex; 
  text-align:center; 
}

   
 
 
  
 



 