
.system-configurations {
 
    background-color: rgb(39, 44, 40);
    color: rgb(251, 255, 242);
    height: 100vh;
    margin: 0;
    position: fixed;
    text-align: center;
    text-transform: lowercase;
    transition: 0s !important;
    width: 100vw;
    z-index: 10;
    
}
 

.system-configurations--closed {
    animation: close 2s forwards;
}


@keyframes close {
    
    100% {
        margin-left: -150vw;
    }
}

 
 
