
button
{
    background-color: rgb(54, 54, 47);
    border-radius: 20%;
    height: 30px;
    color: rgb(208, 225, 240);
    display: block;
}


body
{
    background-color: antiquewhite;
    display: grid;

    grid-template-columns: 30% 30% 30%;

    grid-template-areas: "build" "commit" "configure";
}


#build {
    grid-area: "build";    
}

#commit {
    grid-area: "commit";
}

#configure {
    grid-area: "configure";
}


.close-button {
    background-color: rgb(117, 104, 100);
}

.closed *:not(.close-button) {
    display: none;
}