
button
{
    background-color: rgb(54, 54, 47);
    border-radius: 20%;
    height: fit-content;
    color: rgb(208, 225, 240);
    display: block;
}


body
{
    background-color: antiquewhite;
    display: grid;

    grid-template-columns: 30% 30% 30%;

    grid-template-areas: "build" "commit" "configure";
}


#log-box {
    background-color: rgb(54, 54, 47); 
    color: rgb(208, 225, 240); 

    height: 200px;

    overflow-y: scroll;
    padding: 10px;
    width: 200px;
    font-size: 13px;
}


#build {
    grid-area: "build";    
}

#commit {
    grid-area: "commit";
}

#configure {
    grid-area: "configure";
}


[control-box] {

 
    
    background-color: rgb(192, 192, 192);
    height: 80%;
    overflow-y: scroll;

}	


.close-button {
    background-color: rgb(117, 104, 100);
}


.closed *:not(.close-button) {
    display: none;

}