 



.header
{ 

 
  background-color: #0c721a77;
  border-right: 4px solid rgb(85, 150, 105);
  filter: brightness(74%);
  height: 100vh;
  overflow-x: hidden;
  overflow: hidden;
  position: fixed;
  text-align: left;
  top: 0;
  transition: 0.7s;
  transition: 3s;
  white-space: nowrap;
  width: 2.5vw;
  z-index: 2;

}


.header--closed {
  width: 2.2vw !important;
}

.header--opened {
  background-color: #6ac04d;
  width: 24vw !important;
 
}

header:hover
{

  filter: brightness(90%);

}

@media (max-width: 1000px) {
  
  .header {
    white-space:normal;
  }

  .header--opened {
    width: 30vw !important;
  }
} 

 
  

 



 