.techs__box {
 
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 60%;
  
  }



  @media screen and (max-width: 768px) {
    .techs__box {
      width: 100%;
    }
  }