
.techs__name {
 
    background-color: var(--classy-black);
    color: var(--pretty-green);
    font-family: var(--default-font);
    font-size: 4vw;
    font-weight: bold;
    margin-bottom: 1vh;
    padding-bottom: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: auto;
    text-align: center;
    text-transform: capitalize;
    user-select: none;
    width: 26vw; 
  }
  
  
.techs__name:hover {
   
    color: rgb(94, 247, 63);
}

