.techs__image {
  display: inline;
  margin-right: 1vw;
  width: 100px;
}


.techs__image--unselected {
    opacity: 0.1; 
}

  

@media screen and (max-width: 768px) {
  .techs__image {
 
    margin-bottom: 5vh;
    margin-left:  5vw; 
  }
}