.techs__image {
  display: inline;
  margin-right: 1vw;
  width: 9vw;
}


.techs__image--unselected {
    opacity: 0.1; 
}

  

@media screen and (max-width: 768px) {
  .techs__image {

    display: block;
    margin-bottom: 5vh;
    margin-left: 35vw;
    width: 30vw; 
  }
}