
.section
{

 
  
   border-top: 0; 
  background: var(--section-color);
  box-sizing: border-box; 
  margin-bottom: 2vw;
  margin-left: 0.5vw;
  margin-top: 2vw;
  padding-bottom: 4vh;
  padding-top: 2vh;
  width: 98vw;
 
  
}
